{% extends "parent.html" %} {% block content %}
<h2>Kontakt do mnie</h2>
<br>
<ul>
    <li><strong>email:</strong> przemmekkot@wp.pl</li>
    <li><strong>telefon:</strong> 503 500 603</li>
    <li><strong>miasto:</strong> Kraków</li>
</ul>
<br>
<form action="C:\Users\Koty\Desktop\Python\Kodilla\module_8_4\wizytowka_z_flaskiem " method="post ">
    <label><strong>Wyślij wiadomość</strong></label><br><br>
    <input name="user_message " /><br><br>
    <button type="submit ">Prześlij</button>
</form>
{% endblock %}