h1 {
    border: 1px solid red;
    padding: 10px;
    margin: 10px;
}

#content h2 {
    color: brown;
    font-size: 25px;
}

#content p {
    font-size: 20px;
}

#content li {
    color: green;
    font-size: 20px;
}

#content label {
    font-size: 16px;
    border: 1px solid lightskyblue;
    padding: 5px;
}